.card_collection {
    width: 1400px;
    height: auto;
    padding: 10px 20px;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.crud_card {
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.crud_card div {
    width: 100%;
    height: 50%;
    transition: .5s;
    overflow: hidden;
    transition: .5s;
    border-radius: 10px;
}

.crud_card div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.crud_card img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.crud_card h2 {
    font-size: 26px;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s;
}

.crud_card h2:hover {
    transform: scale(1.1);
    transition: .5s;
}

.crud_card strong {
    font-size: 22px;
    color: red;
    margin-top: 10px;
    transition: .5s;
    cursor: pointer;
}

.crud_card strong:hover {
    transform: scale(1.1);
    transition: .5s;
}

.crud_card p {
    font-size: 16px;
    text-align: center;
    color: black;
    opacity: .5;
    margin-top: 10px;
}

.crud_card button {
    font-size: 16px;
    color: black;
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 7px;
    border: none;
    background-color: dodgerblue;
    color: white;
    border: 1px solid transparent;
    transition: .5s;
    cursor: pointer;
}

.crud_card button:hover {
    background: none;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    transition: .5s;
}


.modal-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.modal-content input {
    width: 400px;
    height: 40px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
}

.modal-content div {
    display: flex;
    align-items: center;
    gap: 60px;
}

.modal-content button {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color: dodgerblue;
    border: transparent;
    transition: .5s;
    cursor: pointer;
}

.modal-content button:hover {
    background: none;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    transition: .5s;

}