.navbar {
    height: 80px;
    background: linear-gradient(30deg, dodgerblue, violet);
    color: #fff;
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.cards {
    font-size: 30px;
    color: white;
}